{erl_opts, [debug_info, warnings_as_errors]}.
{deps, []}.

{eunit_opts, [verbose]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{ex_doc, [
    %% FIXME clean up the docs!
    {extras, [
        "README.md",
        "LICENSE"
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/etnt/erl_gpg"}
]}.
